body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  height:100%;
}

.login {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.card{
  width:46%;
  height: 200px;
}

.card .card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
}

.link-back{
  position: absolute;
  top: -24px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction:column;
}
.link-back:hover{
  cursor: pointer;
  background-color: lightgray;
}
.ava-wrap{
  width: 200px;
  height: 200px;
}
.link-back svg {
  margin: 0 auto;
}